<h1>Grocery List</h1>
<h2><%= link_to 'New Item', new_list_path %></h2>
<%  @lists.each do |list| %>
<br />
<%= list.item %> <%= link_to 'Show Info' , list_path(list) %>
<%= link_to 'Remove', list, method: :delete %>


<% end %>
